* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::placeholder {
    color: #f2f2f2;
    opacity: 1;
    font-weight: 700;
}

body {
    background: #5F7FAD;
    font-family: sans-serif;
}

.container {
    width: 768px;
    height: 70px;
    margin: auto;
}

.header {
    background: rgb(241, 107, 40);
    background: linear-gradient(90deg, rgba(241, 107, 40, 1) 22%, rgba(241, 107, 40, 1) 38%, rgba(223, 67, 47, 0.9923319669664741) 65%, rgba(231, 56, 35, 1) 100%);
    padding: 20px 15px;
}

.autocomplete-field {
    height: 45px;
    display: flex;
    position: relative;
}

.searchTerm {
    flex: 1;
    height: 100%;
    color: #ffffff;
    background-color: orange;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    position: relative;
}

.textholder {
    position: absolute;
    left: 40px;
    top: 22px;
    font-size: 0.7rem;
    padding-top: 10px;
    color: grey;
    font-weight: 200;
    text-indent: 50px;
    display: none;
}

.showing {
    background-color: #ffffff;
    color: black;
    margin-right: -44px;
    font-weight: 500;
    font-size: 17px;
    background-image: url("C:/Users/Vartotojas/Desktop/website/homework/icons/movie.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 15px;
    background-position-y: center;
    text-indent: 50px;
    border-bottom: 1px gray solid;
}

.searchTerm:focus {
    outline-width: 0;
}

.searchButton {
    width: 40px;
    height: 45px;
    border: 0;
    margin-left: 4px;
    background-color: #ffffff;
}

.searchButton svg {
    fill: rgb(231, 57, 35);
    height: 24px;
    margin-top: 6px;
}

.image-icon {
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.image-icon svg {
    fill: #ffffff;
    height: 20px;
    width: 30px;
}

.content {
    min-height: 300px;
    background-color: #ffffff
}

#dropdown {
    display: none;
}

#dropdown.show {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 5px;
    right: 0;
    background-color: white;
    margin-left: 35px;
    display: block;
}

.dropdown-item {
    padding: 15px 50px;
    color: rgb(45, 45, 45);
}

.dropdown-item .title {
    font-weight: 600;
}

.dropdown-item .rating {
    font-size: 12px;
}


@media (max-width:768px) {
    .container {
        width: 100%;
    }
}