* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::placeholder {
    color: #f2f2f2;
    opacity: 1;
    font-weight: 700;
}

body {
    background: #5F7FAD;
    font-family: sans-serif;
}

.container {
    
    width: 768px;
    height: 70px;
    margin: auto;
   
}

.header {
    background: rgb(241,107,40);
    background: linear-gradient(90deg, rgba(241,107,40,1) 22%, rgba(241,107,40,1) 38%, rgba(223,67,47,0.9923319669664741) 65%, rgba(231,56,35,1) 100%);
    padding: 20px 15px;
    
}

.autocomplete-field {
height: 40px;
display: flex;
position: relative;
}

.searchTerm {
    flex: 1;
    height: 100%;
    color: #ffffff;
    background-color: orange;
    background-color: rgba(255,255,255,0.2);
    border: none;
    
    
}

.searchTerm:focus {
    outline-width: 0;
}

.searchButton {
    width:40px; 
    height:40px; 
    border: 0;
    margin-left: 4px;
    background-color: #ffffff;
}

.searchButton svg {
    fill: rgb(231,57,35);
    height: 24px;
    margin-top: 6px;
}

.image-icon {
    padding: 10px 5px;
    background-color: rgba(255,255,255,0.2);
}
.image-icon svg {
    fill: #ffffff;
    height: 20px;
    width: 30px;
}

.content {
    min-height: 300px;
    background-color: #ffffff
}

#dropdown {
    display: none;
}

#dropdown.show {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    margin-left: 35px;
    display: block;
    
}

#dropdown.wat {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    margin-left: 35px;
    display: block;
    
}
}

/* .autocomplete {
    position: relative;
    display: inline-block;
} */

@media (max-width:768px) {
    .container {
        width: 100%;
    }
}